 Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple '''

In [ ]:
name="Sai Dinesh"
numbers=[1,2,3,4,5,6,7,8]
float_val=2.14
tuple_val=(1,2,3,4)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [ ]:
 var1=''
 var2 = '[ DS , ML , Python]'
 var3 = [ 'DS' , 'ML' , 'Python']
 var4 = 1

In [ ]:
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [ ]:
#The above mention  operators are Arithmetic Operators 
# (i) / used for Division used to divide two numbers Example
a=8
b=2
print("Division of a and b is:",a/b)

# (ii) % operator It's used to get the remainder of a division problem
x = 5
y = 2
print("The modulus of x and y is:",x % y)

#(iii) the floor division // rounds the result down to the nearest whole number
x1 = 15
y1 = 2
print("the floor division is:", x1 // y1)

#(iv) ** Exponent operator used to get power of a number same as 2*2*2*2*2
x = 2 
y = 5
print("Exponent of x,y:",x ** y)

Division of a and b is: 4.0
The modulus of x and y is: 1
the floor division is: 7
Exponent of x,y: 32

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [ ]:
list_data=[1,"name",2.14,True,(1,2,3,4),{'a','b','c'},2+3j]
for data in list_data:
  print(type(data))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'tuple'>
<class 'set'>
<class 'complex'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [16]:
A=100
B=5
count=0
while A%B==0:
    count+=1
    A=A//B
print(count)

2

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [ ]:
int_list=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in int_list:
  if i%3==0:
    print(i,"is divisble by 3")
  else:
    print(i,"is not divisble by 3")

1 is not divisble by 3
2 is not divisble by 3
3 is divisble by 3
4 is not divisble by 3
5 is not divisble by 3
6 is divisble by 3
7 is not divisble by 3
8 is not divisble by 3
9 is divisble by 3
10 is not divisble by 3
11 is not divisble by 3
12 is divisble by 3
13 is not divisble by 3
14 is not divisble by 3
15 is divisble by 3
16 is not divisble by 3
17 is not divisble by 3
18 is divisble by 3
19 is not divisble by 3
20 is not divisble by 3
21 is divisble by 3
22 is not divisble by 3
23 is not divisble by 3
24 is divisble by 3
25 is not divisble by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [3]:
''' An object that allows you to change its values without changing its identity is a mutable object. The changes that you can perform on a mutable object’s value are known as mutations.

In contrast, an object that doesn’t allow changes in its value is an immutable object. '''
#Example of Mutable Data Type
digits = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
digits[0]=1
print(digits)
#Example for Immutable DataType 
"String is a immutable data type"
name="PWSkills"
name['W']='wallah' #Here we can't assign new val because string is immutable 
print(name)

[1, 1, 2, 3, 4, 5, 6, 7, 8, 9]

TypeError: ignored