Q1.What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
"""
A database is a collection of data stored in a computer system.
SQL databases are primarily called as Relational Databases (RDBMS); 
whereas NoSQL database are primarily called as non-relational or distributed database.
SQL databases are table based databases whereas NoSQL databases are document based, key-value pairs,
graph databases or wide-column stores.
SQL databases have predefined schema whereas NoSQL databases have dynamic schema for unstructured data.
SQL databases are vertically scalable whereas the NoSQL databases are horizontally scalable.
SQL databases are not best fit for hierarchical data storage whereas
NoSQL database are fit for hierarchical data storage as it follows the key-value pair way of storing data similar to JSON data.
SQL databases are best fit for heavy duty transactional type applications, as it is more stable and promises the atomicity as well as integrity of the data. 
While you can use NoSQL for transactions purpose,
it is still not comparable and stable enough in high load and for complex transactional applications.
SQL databases are not required to determine the schema before storing the data whereas NoSQL databases doesn't require to determine the schema before storing the data. You can store any kind of data in any form. """

Q2.What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example

In [ ]:
#What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example
"""
DDL stands for Data Definition Language. DDL statements are used to create database, schema, constraints, users, tables etc.
DDL statement is used to create objects in the database.
CREATE - to create objects in the database
DROP - to delete objects from the database
ALTER - alters the structure of the database
TRUNCATE - remove all records from a table, including all spaces allocated for the records are removed
"""
#example with python'
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root", passwd="<PASSWORD>", db='test')
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")
mycursor.execute("SHOW TABLES")
for x in mycursor:
    print(x)
mycursor.execute("DROP TABLE customers")
mycursor.execute("SHOW TABLES")
for x in mycursor:
    print(x)

Q3.What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
#What is DML? Explain INSERT, UPDATE, and DELETE with an example.
"""
DML stands for Data Manipulation Language. DML statements are used for managing data within schema objects.
DML statement is used to add, retrieve or update the data in the database.
INSERT - to insert data into a table
UPDATE - updates existing data within a table
DELETE - deletes all records from a table, the space for the records remain
"""
#example with python'
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root", passwd="<PASSWORD>", db='test')
mycursor = mydb.cursor()
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)
mydb.commit()
print(mycursor.rowcount, "record inserted.")
mycursor.execute("SELECT * FROM customers")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)
sql = "UPDATE customers SET address = 'Canyon 123' WHERE address = 'Valley 345'"
mycursor.execute(sql)
mydb.commit()
print(mycursor.rowcount, "record(s) affected")
mycursor.execute("SELECT * FROM customers")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)
sql = "DELETE FROM customers WHERE address = 'Mountain 21'"
mycursor.execute(sql)
mydb.commit()
print(mycursor.rowcount, "record(s) deleted")
mycursor.execute("SELECT * FROM customers")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

Q4. What is DQL? Explain SELECT with an example.

In [ ]:
#Q4. What is DQL? Explain SELECT with an example.
"""
DQL stands for Data Query Language. DQL statements are used for performing queries on the data within schema objects.
DQL statement is used to fetch the data from the database.
SELECT - to query data from a table
"""
#example with python'
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root", password="<PASSWORD>",database='test')
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM customers")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)
mycursor.execute("SELECT name, address FROM customers")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

Q5. Explain Primary Key and Foreign Key.

In [3]:
#Explain Primary Key and Foreign Key.
"""
Primary Key: A primary key is a field in a table which uniquely identifies each row/record in a database table.
Primary keys must contain unique values. A primary key column cannot have NULL values.
A table can have only one primary key, which may consist of single or multiple fields.
Foreign Key: A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables.
It acts as a cross-reference between tables because it references the primary key of another table, thereby establishing a link between them.
Foreign keys prevent actions that would leave rows with foreign key values when there are no primary keys with that value.
The foreign key constraints are used to maintain referential integrity in the database.
"""

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
#Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root", password="<PASSWORD>",database='test')
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM customers")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)
""" cursor() method: This method creates a cursor object which is used to execute SQL queries.
execute() method: This method is used to execute the SQL query. """

Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
"""
The order of execution of SQL clauses in an SQL query is as follows:
SELECT
FROM
WHERE
GROUP BY
HAVING
"""